<ion-header>
    <ion-navbar color="danger">
        <ion-buttons left>
          <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Warehouse Manager</ion-title>
        <ion-buttons right>
            <button primary large ion-button (click)="addAsset()">
              <ion-icon name='add' item-right ></ion-icon>
            </button>
          </ion-buttons>
          
      </ion-navbar>
      <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
</ion-header>

<ion-content padding>
    <h1>Welcome {{username}}</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let asset of assets">
      <ion-item >
        {{asset.id}}
        <!--<p>
          Email:{{person.id}}
        </p>
        <p>
          phone:{{person.place}}
        </p>-->
      </ion-item>
      <ion-item-options side="left">
        <button (click)="edit(asset)" ion-button color="primary">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button (click)="delete(asset)" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <button ion-button full color="primary" style="margin-top: 20px;" (click)="logout()">Logout</button>
</ion-content>

<!--<ion-header>  
  <ion-navbar>
    <ion-title>
      🎂  Birthdays  🎉
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showDetail()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>  
    <ion-list inset>
        <ion-item *ngFor="let birthday of birthdays" (click)="showDetail(birthday)">
          <div item-left>{{ birthday.Name }}</div>
          <div item-right>{{ birthday.Date | date:'yMMMMd' }}</div>
        </ion-item>
      </ion-list>
</ion-content>  -->

<!--<ion-header>
  <ion-navbar>
    <ion-title>The Employees Database</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addEmployee()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let asset of assets" (click)="showDetails(asset)">
          <div> </div>
        </ion-item>
      </ion-list>

</ion-content>-->
